#info {
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 14px;
}

#clk1 {
    margin: auto;
    width: 90%;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: white black;
    background-color: red;
    border-radius: 30px;
}

#list {
    margin: auto;
    width: 90%;
    background: linear-gradient(90deg,red,black);
    height: auto;
}
.action-btn, #save {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
}
.saved-color {
    float: left;
    width: 25%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(119,163,204);
}
